body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.content
  .form-control
    width: 50%
  input
    margin: 5px 0
  textarea
    min-height: 400px

  h3
    margin-top: 0