extends layout

block content
  .body
    h1.heading= article.title
    | #{article.content}

  footer
    | &copy; Randall Koutnik, 2014 | 
    a(href='https://github.com/SomeKittens/Node-Blog-Engine') Source
