extends layout

block content
  .container
    h1 list of articles
    for article in articles
      | #{article.id}
      | #{article.title}
      br
    form(
      action = '/posts'
      method = 'post'
    )
      button.button-primary(type = 'submit') Create new article