extends layout

block content
  .container
    .row
     h1.twelve.columns Contact Randall
    .row
      .six.columns
        h3 Email
        p rkoutnik [at] Google's email service
      .six.columns
        h3 Twitter
        p
          a(href='https://twitter.com/rkoutnik') @rkoutnik