extends layout

block content
  .container
    .row
     h2.twelve.columns Contact Randall
    .row
      .three.columns
        h5 Email
      .nine.columns
        h5 rkoutnik [at] Gmail
    .row
      .three.columns
        h5 Twitter
      .nine.columns
        h5
          a(href='https://twitter.com/rkoutnik') @rkoutnik
    .row
      .three.columns
        h5 GitHub
      .nine.columns
        h5
          a(href='https://github.com/rkoutnik') SomeKittens
    .row
      .three.columns
        h5 StackOverflow
      .nine.columns
        h5
          a(href='hhttp://stackoverflow.com/users/1216976/somekittens') SomeKittens
    .row
      .three.columns
        h5 Hacker News
      .nine.columns
        h5
          a(href='https://news.ycombinator.com/user?id=RKoutnik') RKoutnik