extends layout

block content
  .content
    .row
      .col-md-6
        textarea#draft
      .col-md-6
        //
           Markdown results 
    hr
    .row
      .col-md-4
        //
           Word commonality 
        table
          th
            td Word
            td Uses
          tbody#commonality
