extends layout

block content
  .content(ng-controller='Editor')
    .row
      textarea.form-control.col-md-6(ng-model='article.content')
      .col-md-6
        div(marked='article.content')
    hr
    .row
      .col-md-4
        //
           Word commonality
        table.table
          thead
            td Word
            td Uses
          tbody#commonality(commonality-results)
      .col-md-4
        h4 Word Count
        div
          | {{ article.wordCount | number }}