extends layout

block content
  .content(ng-controller='Editor')
    .row
      .col-md-6
        //commonality-source
      .col-md-6
        //
           Markdown results
    hr
    .row
      .col-md-4
        //
           Word commonality
        table
          th
            td Word
            td Uses
          tbody#commonality
