doctype html
html(ng-app='nbe')
  head
    title= title
    link(rel='stylesheet'  href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    //- Used for rendering vars to the page
    block vars
  body
    block content

    // Libraries
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
    script(src='/lib/angular-route.js')
    script(src='/lib/ngCommonality.js')
    script(src='/lib/marked.js')
    script(src='/lib/angular-marked.js')

    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js')

    // NBE code
    script(src='/js/ng.js')