doctype html
html(ng-app='nbe')
  head
    title= blogName
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/skeleton.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', href='/images/rk.jpg', type='image/x-icon')
    //- Used for rendering vars to the page
    block vars
  body
    header
      .title
        .middle-title
          .inner-title
            h1= author
    .menu
      a(href='/') Home
      a(href='/contact') Contact Me
      a(href='http://github.com/SomeKittens') GitHub
    block content

    // Libraries
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js')
    //- script(src='/lib/angular-route.js')
    script(src='/lib/ngCommonality.js')
    script(src='/lib/marked.js')
    script(src='/lib/angular-marked.js')

    //- script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js')

    // NBE code
    script(src='/js/ng.js')