.container
  h1 list of articles
  table.u-full-width
    thead
      tr
        th id
        th Title
        th Published
    tbody
      tr(
        ng-repeat='article in AC.articles'
      )
        td {{ article.id }}
        td {{ article.title || '(none)' }}
        td {{ article.published ? 'Yes' : 'No' }}
        td
          a(ui-sref='edit({id: article.id})') Edit
  form(
    action = '/posts'
    method = 'post'
  )
    button.button-primary(type = 'submit') Create new article